* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

:root {
  --clr: #222327;
}

.big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* background: var(--clr); */
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* background: var(--clr); */
}

/* NavBar */

.navbar {
  height: 7%;
}

.logo {
  width: 80%;
  height: auto;
}

.left {
  position: absolute;
  top: 6;
  left: 20;
  width: 5%;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 14;
}

.right {
  position: absolute;
  right: 20;
  top: 0;
}

.right a {
  font-weight: 300px;
  margin-top: 20%;
}

.right a ion-icon{
  font-size: 30px;
}

.bg-accueil {
  width: 100%;
  height: 45%;
  background-image: url(/content/test-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Card */

.big-container .card-size {
  width: 25%;
  height: 50%;
}

/* Pop-Up */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity .4s;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 6rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 0.4 ease-in-out;
}

.popup .cross {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  color: #333;
}